.header{
  width: calc(54.5625rem - 2rem);
  margin: 0 auto;
  background: #FFFFFF;
  height: 3.875rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  &-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin-right: 7rem;
    img{
      width: 2.6875rem;
    }
    p{
      color: #2B2B2B;
      font-weight: 600;
      margin-left: 1rem;
      span{
        color: #00C2FF;
      }
    }
  }
  .active{
    color: #00C2FF;
    text-decoration: underline;
  }
  &-links{
    width: 30rem;
    display: flex;
    align-items: center;

    &__item{
      font-weight: 600;
      color: #2B2B2B;
      text-decoration: none;
      margin: 0 0.5rem;
    }
  }
}
.link-line{
  height: 2.5rem;
  width: 0.1rem;
  background: #c3c3c3;
  margin: 0 1rem;
  border-radius: 10em;

}